@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300 700;
  font-display: optional;
  src: url(/fonts/FiraCode-VarFont.woff2) format('woff2');
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-primary: #fff;
    --color-bg-secondary: #edf3ff;
    --color-bg-tertiary: #d2d6db;
    --color-bg-quaternary: #f9fafa;
    --button-primary: #555EE2;
    --button-secondary: #323ebe;  
    --button-tertiary: #323ebe;
    --color-base-1: #08090a;
    --color-base-2: #363d44;
    --color-primary: #202428;
    --color-secondary: #64707d;
    --color-tertiary: #64707d;
    --border-primary: #08090a0d;
    --border-secondary: #08090a1a;
    --code-select: #d69822;
    --code-operator: #5e646f;
    --code-variable: #d91e18;
    --code-class: #d69822;
    --code-string: #7c9f4b;
    --code-quote: #509c93;
    --code-keyword: #a626a4;
    --code-comment: #64707d;
  }
  .dark {
    --color-bg-primary: #0d1219;
    --color-bg-secondary: #1a2634;
    --color-bg-tertiary: #2e3a48;
    --color-bg-quaternary: #1a1e25;
    --button-primary: #7b78ff;
    --button-secondary: #5855f3;
    --button-tertiary: #17a1f6;
    --color-base-1: #f9fafa;
    --color-base-2: #c2c6ca;
    --color-primary: #dde0e2;
    --color-secondary: #a7adb2;
    --color-tertiary: #747c85;
    --border-primary: #ffffff1a;
    --border-secondary: #ffffff26;
    --code-select: #b7bec9;
    --code-operator: #b7bec9;
    --code-variable: #e77171;
    --code-class: #dbb774;
    --code-string: #a1bf78;
    --code-quote: #5ebaa5;
    --code-keyword: #d390e7;
    --code-comment: #a7adb2;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-primary: #0d1219;
    --color-bg-secondary: #1a2634;
    --color-bg-tertiary: #2e3a48;
    --color-bg-quaternary: #1a1e25;
    --button-primary: #7b78ff;
    --button-secondary: #5855f3;
    --button-tertiary: #17a1f6;
    --color-base-1: #f9fafa;
    --color-base-2: #c2c6ca;
    --color-primary: #dde0e2;
    --color-secondary: #a7adb2;
    --color-tertiary: #747c85;
    --border-primary: #ffffff1a;
    --border-secondary: #ffffff26;
    --code-select: #b7bec9;
    --code-operator: #b7bec9;
    --code-variable: #e77171;
    --code-class: #dbb774;
    --code-string: #a1bf78;
    --code-quote: #5ebaa5;
    --code-keyword:  #d390e7;
    --code-comment: #a7adb2;
  }
  .light {
    --color-bg-primary: #fff;
    --color-bg-secondary: #edf3ff;
    --color-bg-tertiary: #08090a0d;
    --color-bg-quaternary: #f9fafa; 
    --button-primary: #555EE2;
    --button-secondary: #323ebe;  
    --button-tertiary: #323ebe;
    --color-base-1: #08090a;
    --color-base-2: #363d44;
    --color-primary: #202428;
    --color-secondary: #64707d; 
    --color-tertiary: #64707d; 
    --border-primary: #08090a0d;
    --border-secondary: #08090a1a;
    --code-select: #d69822;
    --code-operator: #5e646f;
    --code-variable: #d91e18;
    --code-class: #d69822;
    --code-string: #7c9f4b;
    --code-quote: #509c93;
    --code-keyword: #a626a4;
    --code-comment: #64707d;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-primary transition duration-200 ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.btn {
  @apply text-blue-1 border rounded border-blue py-5 px-7 text-sm;
}

.btn-blog {
  @apply sm:text-lg text-background font-medium px-4 py-1 rounded bg-button hover:bg-hover font-mono;
}

.hover-link {
  @apply transition transform duration-200 hover:-translate-y-1 hover:text-blue-1;
}

.quote {
  @apply border-l-2 font-mono sm:text-lg sm:pl-4 border-blue;
}

.svg-link {
  @apply stroke-current text-primary w-5 h-5 m-auto;
}

.theme-transition-2 {
  @apply transition duration-200 ease-in-out;
}

.theme-transition-3 {
  @apply transition duration-300 ease-in-out;
}

.skip-nav {
  @apply absolute -translate-y-28 px-4 py-2 mt-20 transition-transform duration-200 transform focus:translate-y-0 rounded text-primary border border-secondary;
}

.separator-x {
  @apply block h-px my-auto bg-separator-secondary;
}

.shell-noise {
  @apply after:animate-noise after:opacity-5 after:fixed after:bg-noise after:h-[300%] after:w-[300%] after:left-[-50%] after:top-[-110%] pointer-events-none;
}

.nav-filter {
  @apply transition duration-200 fixed h-[64px] sm:h-[72px] -mt-2 w-full max-w-5xl bg-primary overflow-hidden
  after:bg-noise after:animate-noise after:h-[300%] after:w-[300%] after:left-[-50%] after:top-[-110%] after:absolute after:opacity-5 after:pointer-events-none;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}