@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-primary: #fff;
    --color-bg-secondary: #f3f4f6;
    --color-bg-tertiary: #d2d6db;
    --color-bg-quaternary: #a7adb2;
    --button-primary: #17a1f6;
    --button-secondary: #456fdf;  
    --button-tertiary: #323ebe;
    --color-base-1: #08090a;
    --color-base-2: #363d44;
    --color-primary: #202428;
    --color-secondary: #64707d;
    --color-tertiary: #64707d;
    --border-primary: #08090a0d;
    --border-secondary: #08090a1a;
  }
  .dark {
    --color-bg-primary: #0d1219;
    --color-bg-secondary: #1a2634;
    --color-bg-tertiary: #2e3a48;
    --color-bg-quaternary: #a7adb2;
    --button-primary: #7b78ff;
    --button-secondary: #5855f3;
    --button-tertiary: #17a1f6;
    --color-base-1: #f9fafa;
    --color-base-2: #c2c6ca;
    --color-primary: #dde0e2;
    --color-secondary: #a7adb2;
    --color-tertiary: #747c85;
    --border-primary: #ffffff1a;
    --border-secondary: #ffffff26;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-primary: #0d1219;
    --color-bg-secondary: #1a2634;
    --color-bg-tertiary: #2e3a48;
    --color-bg-quaternary: #a7adb2;
    --button-primary: #7b78ff;
    --button-secondary: #5855f3;
    --button-tertiary: #17a1f6;
    --color-base-1: #f9fafa;
    --color-base-2: #c2c6ca;
    --color-primary: #dde0e2;
    --color-secondary: #a7adb2;
    --color-tertiary: #747c85;
    --border-primary: #ffffff1a;
    --border-secondary: #ffffff26;
  }
  .light {
    --color-bg-primary: #fff;
    --color-bg-secondary: #f3f4f6;
    --color-bg-tertiary: #08090a0d;
    --color-bg-quaternary: #a7adb2; 
    --button-primary: #17a1f6;
    --button-secondary: #456fdf;  
    --button-tertiary: #323ebe;
    --color-base-1: #08090a;
    --color-base-2: #363d44;
    --color-primary: #202428;
    --color-secondary: #64707d; 
    --color-tertiary: #64707d; 
    --border-primary: #08090a0d;
    --border-secondary: #08090a1a;
  }
}

html,

body {
  @apply bg-primary theme-transition-2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.btn {
  @apply text-blue border rounded border-blue py-5 px-7 text-sm;
}

.btn-blog {
  @apply sm:text-lg text-background font-medium px-4 py-1 rounded bg-button hover:bg-hover font-fira;
}

.hover-link {
  @apply transition transform duration-200 hover:-translate-y-1 hover:text-blue;
}

.svg-link {
  @apply stroke-current text-secondary w-5 h-5 m-auto;
}

.theme-transition-2 {
  @apply transition duration-200 ease-in-out;
}

.theme-transition-3 {
  @apply transition duration-300 ease-in-out;
}

.skip-nav {
  @apply absolute px-4 py-2 mt-5 -translate-y-16 transition-transform duration-200 transform focus:translate-y-0;
}
